.container {
    width: 1160px;
    padding: 0 $safe-padding;
    margin: 0 auto;
}
.container-shop{
    width: 100%;
    margin-bottom: 20px;
}
.container-sidebar {
    min-width: 264px;
    max-width: 264px;
    margin-right: 20px;
    @media screen and (max-width: 970px){
        margin-right: 0;
        max-width: initial;
        margin-top: 20px;
        width: 100%;

    }

}


@media (min-width: 320px) {
    .container {
        max-width: 300px;
    }
}

@media (min-width: 480px) {
    .container {
        max-width: 460px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 620px;
    }
}

@media (min-width: 960px) {
    .container {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
 
}

@media (min-width: 960px) and (max-width: 1199px) {
}

@media (min-width: 640px) and (max-width: 959px) {
}

@media (min-width: 480px) and (max-width: 639px) {
}

@media (min-width: 320px) and (max-width: 479px) {
}
