$body-bg-color: #14151a;
$bg-loyout: #1d1e23;
$color1: #fff;
$color2: #ffc107;
$font1: "Montserrat", sans-serif;
$default-font-size: 14px;
$default-font-family: "Roboto";
$safe-padding: 10px;
$promocode-bg-color: #1d1b1af7;
$accent-color-800: #cd422a;
$accent-color-900: #af3723;
$font-color-700: #fff;
$font-color-800: #ffffffb3;
$font-color-900: #7b7b7b;
$bg-color-800: #202020;
$bg-color-700: #282828;
$bg-color-900: #1d1b1a;
$monitoring-joining-color: #e77725;
$monitoring-queue-color: #A8201A;
$product-items-trans-bg-color: rgba(0, 0, 0, 0.4);

